@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
* {
    box-sizing: border-box;
    padding: 0;margin: 0;
    list-style-type: none;
    text-decoration: none;
    border: none;
}
:root {
   --primary-Violet: hsl(257, 40%, 49%);
   --primary-Soft-Magenta: hsl(300, 69%, 71%);
   --color-White: hsl(0, 0%, 100%);
}
 html {
    max-width: 100%;
    max-height: 100%;
 }
body {
    background-image: url(images/bg-mobile.svg);
    background-color: var(--primary-Violet);
    background-size: contain;
   /* height: auto;*/
   /* width: 100%;*/
}
img {
    max-width: 100%;
}

.parent_container {
    width: 100%;
    height: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
}
.container .writeup .main_title {
    font-family: Poppins;
    color: var(--color-White);
    font-weight: 600;
}

.container .writeup .title {
    font-family: Open Sans;
    color: var(--color-White);
    font-weight: 400;
    padding-top: 0.156rem;
}
.container .cta .writeup,{
    padding-top: 0.156rem;
}
.container .cta {
    padding-top: 1.875rem;
}
.container .cta button {
    width: 60%;
    padding: 0.625rem;
    border-radius: 1.25rem;
    color: var(--primary-Violet);
    border: 1px solid color none;
}
.container .cta button:hover{
    background-color: var(--primary-Soft-Magenta);
}
.container .icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    padding-top: 1.875rem;
}
.container .icon .facebook, .twitter, .instagram {
    border: 1px solid var(--color-White);
    border-radius: 50%;
    color: var(--color-White);
    padding: 0.313rem;
    
}
.container .icon .instagram:hover {
    border-color: var(--primary-Soft-Magenta);
}
.container .icon .facebook:hover {
    border-color: var(--primary-Soft-Magenta);
}
.container .icon .twitter:hover {
    border-color: var(--primary-Soft-Magenta);
}
@media only screen and (min-width: 992px) {

    body {
        background-image: url(images/bg-desktop.svg);
        background-size: contain;
    }
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /*margin-left: 50px;*/
        text-align: left;
        margin-right: 15.625rem ;
    }
      img {
        margin-top: 1.875rem;
        margin-left: 2.5rem;
    }
    .writeup, .cta {
        margin-left: 1.875rem;*/
   }
    .writeup .main_title {
        margin-bottom: 0.625rem;
        margin-top: 6.25rem;
        margin-left: 2.5rem;
    }
    .container .writeup .title {
        margin-bottom: 0.625rem;
        margin-left: 3.125rem;
    }
    .container .cta button {
        width: 40%;
        padding: 0.938rem;
        margin-left: 1.25rem;
    }
    .container .icon {
    position: absolute;
    right: 3.75rem;
    bottom: 1.25rem;
   
    }
}